mixin movie-container(movie, database)
    .movie-container
        .left-container
            img.poster(src=movie.Poster)
            .movie-details-container
                a.movie-title(href=`/movies/${movie.id}`)= movie.Title
                p.movie-detail= movie.Released

                -let actor1 = database.getPersonByName(movie.Actors[0])
                a.movie-detail(href=`/people/${actor1.id}`)= movie.Actors[0]
                span ,  
                -let actor2 = database.getPersonByName(movie.Actors[1])
                a.movie-detail(href=`/people/${actor2.id}`)= movie.Actors[1]
        img.movie-rating(src=`/images/rating/${movie.Rating}star.svg`)