include ../partials/headerMixins
doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content=`${person.name}'s page`)
        link(rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="/styles/person-page.css")
        title #{person.name}
        script.
            let personId = !{jsStringify(person._id)};
        script(type="text/javascript" src="/scripts/person.js" defer)
body
    if loggedIn && isContributer
        +logged-in-contributer-header()
    else if loggedIn
        +logged-in-header()
    else
        +logged-out-header()

    div#main
        h1= person.name

        if loggedIn
            form.follow-form
                if isFollowing
                    button.follow-button(onClick="unfollow()") Unfollow
                else
                    button.follow-button(onClick="follow()")  Follow 

        if person.actingRoles.length > 0
            h2 Acting Roles
            each movie in person.actingRoles
                a(href=`/movies/${movie._id}`)= movie.title 
                br
        
        if person.writingRoles.length > 0
            h2 Writing Roles
            each movie in person.writingRoles
                a(href=`/movies/${movie._id}`)= movie.title 
                br

        if person.directingRoles.length > 0
            h2 Directing Roles
            each movie in person.directingRoles
                a(href=`/movies/${movie._id}`)= movie.title 
                br
        
        if person.hasOwnProperty("frequentCollaborators")
            h2 Frequent Collaborators
            each person in person.frequentCollaborators
                a(href=`/people/${person._id}`)= person.name 
                br
    
    include ../partials/footer

