include ../partials/headerMixins
doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content=`${person.name}'s page`)
        link(rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="/styles/person-page.css")
        title #{person.name}
body
    +logged-in-header()
    div#main
        h1= person.name

        if loggedIn
            button.follow-button Follow

        if person.actingRoles.length > 0
            h2 Acting Roles
            each movie in person.actingRoles
                a(href=`/movies/${movie._id}`)= movie.title 
                br
        
        if person.writingRoles.length > 0
            h2 Writing Roles
            each movie in person.writingRoles
                a(href=`/movies/${movie._id}`)= movie.title 
                br

        if person.directingRoles.length > 0
            h2 Directing Roles
            each movie in person.directingRoles
                a(href=`/movies/${movie._id}`)= movie.title 
                br
        
        if person.hasOwnProperty("frequentCollaborators")
            h2 Frequent Collaborators
            each person in person.frequentCollaborators
                a(href=`/people/${person._id}`)= person.name 
                br
    
    include ../partials/footer

