include ../partials/headerMixins
include ../partials/reviewMixins
doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content=`${user.username}'s profile page`)
        link(rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="/styles/profile.css")
        link(rel="stylesheet" type="text/css" href="/styles/user-reviews.css")
        script.
            let user = !{jsStringify(user)};
        script(type="text/javascript" src="/scripts/profile.js" defer)
        script.
            let errorMessage = "#{errorMessage}";
            if (errorMessage) {
                alert(errorMessage)
            }
        title Profile
body
    if user.isContributer
        +logged-in-contributer-header()
    else
        +logged-in-header()

    div#main
        h1= user.username + "'s Profile Page"

        form(action="/logout" method="GET")
            button.logout-button(type="submit") Logout

        form
            h2 User Type:

            if user.isContributer
                .choice
                    input(type="radio" id="regular" name="isContributer" value="false")
                    label.check(for="regular") Regular User

                .choice
                    input(input type="radio" id="contributer" name="isContributer" value="true" checked)
                    label.check(for="contributer") Contributer
            else
                .choice
                    input(type="radio" id="regular" name="isContributer" value="false" checked)
                    label(for="regular") Regular User

                .choice
                    input(input type="radio" id="contributer" name="isContributer" value="true")
                    label(for="contributer") Contributer
            button.save-button(onclick="changeContributionState(event)") Save


        h2 Watchlist
        if user.watchlist.length == 0
            p There are no movies in your watchlist.
        else
            each movie in user.watchlist
                a(href=`/movies/${movie._id}`)= movie.title   

        h2 Users you Follow
        if user.usersFollowed.length == 0
            p You are not following any other users.
        else
            each otherUser in user.usersFollowed 
                a(href=`/users/${otherUser._id}`)= otherUser.username   

        h2 People you Follow
        if user.peopleFollowed.length == 0
            p You are not following any people.
        else
            each person in user.peopleFollowed 
                a(href=`/people/${person._id}`)= person.name 

        h2 Your Followers
        if user.followers.length == 0
            p You have no followers.
        else
            each otherUser in user.followers
                a(href=`/users/${otherUser._id}`)= otherUser.username   

        h2#notifications Notifications
        if user.notifications.length == 0
            p No new notifications.
        else
            for notification in user.notifications
                    if notification.hasOwnProperty("personId")
                        .notification
                            .left
                                input(type="hidden" name="id", value=notification._id)
                                -const formattedDate = notification.date.toLocaleDateString('en-US', {day: 'numeric', month: 'short', year: 'numeric'});
                                span On #{formattedDate}:&nbsp;
                                a.notification-link(href=`people/${person._id}`)= person.name
                                span &nbsp;#{notification.details}
                            button.read-button read
                        
                    else
                        .notification(style="cursor: pointer;" onclick=`window.location='/movies/${notification.review.movie}#${notification.review._id}';`)
                            .left
                                input(type="hidden" name="id", value=notification._id)
                                -const formattedDate = notification.date.toLocaleDateString('en-US', {day: 'numeric', month: 'short', year: 'numeric'});
                                span On #{formattedDate}:&nbsp;
                                a.notification-link(href=`users/${notification.user._id}`)= notification.user.username
                                span &nbsp;#{notification.details}
                            button.read-button read
            
        h2 Recommended Movies
        if user.recommendedMovies.length == 0
            p There are no recommended movies available for you.
        else
            each movie in user.recommendedMovies
                a(href=`/movies/${movie._id}`)= movie.title

        h2 Reviews
        if user.reviews.length == 0
            p You haven't written any reviews yet.
        else
            .reviews-container
                each review in user.reviews
                    if review.summary || review.fullReview
                        +full-review-user-page(review)
                    else
                        +basic-review-user-page(review)             
    
    include ../partials/footer