include ../partials/headerMixins
doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content=`${user.username}'s page`)
        link(rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="/styles/user-page.css")
        title #{user.username}
        script.
            let currentUser = !{jsStringify(currentUser)};
            let viewedUser = !{jsStringify(user._id)};
        script(type="text/javascript" src="/scripts/user.js" defer)
body
    if loggedIn
        +logged-in-header()
    else
        +logged-out-header()
        
    div#main
        h1 #{user.username}'s Page
        
        if loggedIn
            form.follow-form
                if isFollowing
                    button.follow-button(onClick="unfollow()") Unfollow
                else
                    button.follow-button(onClick="follow()")  Follow 


        h2 Watchlist
        if user.watchlist.length == 0
            p This user doesn't have any movies in their watchlist.
        else
            each movie in user.watchlist
                a(href=`/movies/${movie._id}`)= movie.title   

        h2 Users they Follow
        if user.usersFollowed.length == 0
            p This user doesn't follow any other users.
        else
            each u in user.usersFollowed 
                a(href=`/users/${u._id}`)= u.username   

        h2 People they Follow
        if user.peopleFollowed.length == 0
            p This user doesn't follow any people.
        else
            each person in user.peopleFollowed 
                a(href=`/people/${person._id}`)= person.name 

        h2 Followers
        if user.followers.length == 0
            p This user has no followers.
        else
            each u in user.followers
                a(href=`/users/${u._id}`)= u.username            

    include ../partials/footer