html
    head
        link(rel="stylesheet" type="text/css" href="/styles/user-page.css")
        title #{user.username}
body
    include ../partials/loggedOutHeader

    div#main
        h1 #{user.username}'s Page
        button.follow-button Follow
    
        h2 Watchlist
        if user.watchlist.length == 0
            p This user doesn't have any movies in their watchlist.
        else
            each movieId in user.watchlist
                - let movie = database.getMovieById(movieId)
                a(href=`/movies/${movieId}`)= movie.Title   

        h2 Users they Follow
        if user.usersFollowed.length == 0
            p This user doesn't follow any other users.
        else
            each userId in user.usersFollowed 
                - let user = database.getUserById(userId)
                a(href=`/users/${userId}`)= user.username   

        h2 People they Follow
        if user.personsFollowed.length == 0
            p This user doesn't follow any people.
        else
            each personId in user.personsFollowed 
                - let person = database.getPersonById(personId)
                a(href=`/people/${personId}`)= person.name 

        h2 Followers
        if user.followers.length == 0
            p This user has no followers.
        else
            each userId in user.followers
                - let user = database.getUserById(userId)
                a(href=`/users/${userId}`)= user.username            
    
    include ../partials/footer